In [26]:
# dependencies
import pandas as pd
import numpy as np
import os

In [40]:
# upload csv file
clean_data = "clean_data_engineering.csv"

In [41]:
# preview dataframe
clean_data_df = pd.read_csv(clean_data, dtype=object)
clean_data_df.head()

,station,name,latitude,longitude,elevation,date,prcp,tobs
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/1/10,0.08,65
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/2/10,0,63
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/3/10,0,74
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/4/10,0,76
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,1/7/10,0.06,70

### Database Creation ###

In [42]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey

In [43]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [44]:
# Use declarative_base and create ORM classes for each table, classes for Measurement and for Station

Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurement'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

## get unique stations

In [45]:
station_data = clean_data_df.drop_duplicates(subset="station")

measurement_data = clean_data_df[["station", "date", "prcp", "tobs"]]

## start db stuff

In [46]:
# Use `create_all` to create the tables database
Base.metadata.create_all(engine)

In [47]:
# Use Orient='records' to create a list of data to write, to_dict() cleans out DataFrame metadata as well
data1 = station_data.to_dict(orient='records')

In [48]:
data2 = measurement_data.to_dict(orient='records')

In [49]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [50]:
# Save the reference to the `stations` and 'measurement' tables as a variable
table1 = sqlalchemy.Table('measurement', metadata, autoload=True)
table2 = sqlalchemy.Table('station', metadata, autoload=True)

In [51]:
# Use `table.insert()` to insert the data into the table
# Create a connection to the engine called `conn`

conn = engine.connect()
conn.execute(table1.insert(), data2)
conn.execute(table2.insert(), data1)
conn.close()