In [61]:
# dependencies
import pandas as pd
import numpy as np
import os

In [62]:
# upload csv file
clean_data = "clean_data_engineering.csv"

In [63]:
# preview dataframe
clean_data_df = pd.read_csv(clean_data, dtype=object)
clean_data_df.head()

,station,name,latitude,longitude,elevation,date,prcp,tobs
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,2010-01-01,0.08,65
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,2010-01-02,0.0,63
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,2010-01-03,0.0,74
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,2010-01-04,0.0,76
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,2010-01-07,0.06,70

### Database Creation ###

In [64]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey

In [65]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [66]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [67]:
# Use declarative_base and create ORM classes for each table, classes for Measurement and for Station

Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurement'

    measurement_id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'station'
    station_id = Column(Integer, primary_key=True)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [68]:
# Use `create_all` to create the tables database
Base.metadata.create_all(engine)

In [69]:
# Use Orient='records' to create a list of data to write, to_dict() cleans out DataFrame metadata as well
data = clean_data_df.to_dict(orient='records')

In [70]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [71]:
# Save the reference to the `stations` and 'measurement' tables as a variable
table1 = sqlalchemy.Table('measurement', metadata, autoload=True)
table2 = sqlalchemy.Table('station', metadata, autoload=True)

In [72]:
# Use `table.insert()` to insert the data into the table
conn.execute(table1.insert(), data)

In [73]:
# Use `table.insert()` to insert the data into the table
conn.execute(table2.insert(), data)